*.js
!jest.config.js
*.d.ts
node_modules

# DS_Store files
**/.DS_Store

# Environment
**/.venv
**/.env

# ignore all idea files
**/.idea

# ignore pycache
__pycache__/

# ignore all zip files
*.zip
out/

# ignore packages
src/accountMgr/package

# sam
.aws-sam/

# CDK asset staging directory
.cdk.staging
cdk.out
